@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    color: #fff;
}

body{
    background-color: rgb(16, 16, 42);
}

nav{
    position: fixed;
}

#explanation{
    text-align: center;
    font-size: 1.5vw;
    font-family: "DM Sans", sans-serif;
    color: whitesmoke;
}

#groupname{
    font-size: 5vw;
    font-family: "DM Sans", sans-serif;
        text-align:center;
        background:linear-gradient (
            rgb(16, 16, 42) 0%,
            rgb(16, 16, 42) 45%,
            rgb(38, 38, 47) 46%,
            rgb(38, 38, 47) 54%,  
            rgb(16, 16, 42) 54%,
            rgb(16, 16, 42) 100%);
        background:-webkit-linear-gradient(
            rgb(16, 16, 42) 0%,
            rgb(16, 16, 42) 45%,
            rgb(38, 38, 47) 46%,
            rgb(38, 38, 47) 54%,  
            rgb(16, 16, 42) 54%,
            rgb(16, 16, 42) 100%);
        background: -moz-linear-gradient(
            rgb(16, 16, 42) 0%,
            rgb(16, 16, 42) 45%,
            rgb(38, 38, 47) 46%,
            rgb(38, 38, 47) 54%,  
            rgb(16, 16, 42)54%,
            rgb(16, 16, 42) 100%);
        background:-ms-linear-gradient(
            rgb(16, 16, 42) 0%,
            rgb(16, 16, 42) 45%,
            rgb(38, 38, 47) 46%,
            rgb(38, 38, 47) 54%,  
            rgb(16, 16, 42) 54%,
            rgb(16, 16, 42) 100%);
        background: -o-linear-gradient(
            rgb(16, 16, 42) 0%,
            rgb(16, 16, 42) 45%,
            rgb(38, 38, 47) 46%,
            rgb(38, 38, 47) 54%,  
            rgb(16, 16, 42) 54%,
            rgb(16, 16, 42) 100%);    
}

h1 span{
    background:rgb(16, 16, 42);
    padding: 0 20px
}