*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(16, 16, 42);
}

nav{
    position: fixed;
}

#groupname{
    text-align: center;
    font-size: 5vw;
    font-family: "DM Sans", sans-serif;
    color: whitesmoke;
}

